.icon-styling {
    color: #1DA1F2 !important;
}

.avatar {
    border-radius: 9999px;
}

.peep-textbox {
    width: 360px;
    resize: vertical;
}

.peep-image-share{
    width: 360px;
}

.custom-button-peep:hover {
    background-color: #AAB8C2 !important;
    transition: color 100ms ease-out;
}

.custom-button-peep {
    background-color: #1DA1F2 !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    border-radius: 25px !important;
    width: 20%;
  }