 .feed {
    flex: 0.7;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
 }

 .section-separator {
   border-right: 1px solid rgb(158, 157, 157);
 }

 .feed::-webkit-scrollbar {
    display: none;
 }
