.peep-logo {
    color: #1DA1F2 !important;
}

.padding-sidebar {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 20px;
}

.elements-gap {
    margin-bottom: 100px;
}

.col-3 {
  background-color: #ADD8E6;
}