.page-body {
    margin: 20px 35%
}

.sign-up-form {
    margin-bottom: 20px;
}

.sign-up-input {
    width: 100%;
}

.submit-button {
    max-width: 160px;
    margin-right: 0;
    margin-left: auto;
}

.submit-wrapper {
    display: flex;
}