.custom-button {
  background-color: #1DA1F2 !important;
  border: none !important;
  color: black !important;
  font-weight: 700 !important;
  border-radius: 25px !important;
  width: 80%;
}

.custom-button:hover {
  background-color: #AAB8C2 !important;
  transition: color 100ms ease-out;
}

.text-styling {
    color: black;
}
