body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .d-grid {
    text-align: center;
  }

  .text-extra-small {
    font-size: 12px;
  }

  .custom-button {
    border-radius: 20px;
  }
